doctype html
html
  head
    title FloralHeaven
    //Adding Css file
    link(rel="stylesheet", href="/styles.css")
  body
    header
      div.title
        img(src="/images/logo.png", alt="FloralHeaven Logo", class="logo") 
        //https://w7.pngwing.com/pngs/75/118/png-transparent-yellow-daisy-flower-illustration-common-daisy-pink-yellow-daisy-photography-orange-sunflower.png
        h1 FloralHeaven
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/flowers") Flowers
          li
            a(href="/about") About Us
    block layout-content
    footer
      p &copy; Copyrights 2024 FloralHeaven