extends common/layout

block layout-content 
  .main-content 
    div.align
      h1.page-title Welcome to FloralHeaven
      p Discover our beautiful and unique flower arrangements.
      p At FloralHeaven, we believe in the power of flowers to brighten any day. Whether you're celebrating a special occasion, expressing love, or simply adding a touch of elegance to your home, our floral arrangements are designed to make a statement. Our flowers are sourced from the finest growers around the world, ensuring that every bloom is vibrant and long-lasting. We take pride in our commitment to sustainability and ethical sourcing practices. Our team of expert florists are passionate about creating unique and stunning arrangements that cater to all tastes and preferences. From classic bouquets to modern floral designs, we have something for everyone.
    div.trending
      h2 Trending Products
      div.trending-products
          div.flower-item 
            img(src="https://cdn.shopify.com/s/files/1/0507/3754/5401/files/R5548D_LOL_preset_proflowers-mx-tile-wide-sv-new.jpg?v=1703828186&width=768", alt="Carnation Cascade flowers in a transperant jar")
            h2 Carnation Cascade
            div Cascade of colorful carnations.
            div Price: $31.99
          div.flower-item 
            img(src="https://cdn.shopify.com/s/files/1/0507/3754/5401/files/FM045D_LOL_preset_proflowers-mx-tile-wide-sv-new.jpg?v=1715872807&width=768", alt="Peony flowers in a transperant jar")
            h2 Peony Perfection
            div Perfect peony arrangement.
            div Price: $47.99
          div.flower-item 
            img(src="https://cdn.shopify.com/s/files/1/0507/3754/5401/t/1/assets/FB69_LOL_preset_proflowers-mx-hero-sv-new.jpeg?v=1664558626&width=768", alt="Sunflower bouquet in a transperant jar")
            h2 Sunflower Bliss
            div A sunny bouquet of bright sunflowers.
            div Price: $39.99
      a.button(href="/flowers") View All
    div.align.align2
      h2 Special Services
      ul.list
        li Same-day delivery for those last-minute surprises.
        li Customized bouquets tailored to your specific needs and preferences.
        li Subscription services for regular floral deliveries to keep your space blooming all year round.
      div.trending
        h2 What Our Customers Say
        p "I ordered a custom bouquet for my wedding anniversary, and it was perfect. The attention to detail was incredible. Loved it!" 
        p - John S.
        p "The flowers from FloralHeaven were absolutely stunning and lasted for weeks! Highly recommend their service. Thank you FloralHeaven." 
        p - Robert D.
      div.align3
        h2 Our Promise
        ul.list
          li Freshness Guarantee: We guarantee the freshest flowers sourced directly from the finest growers.
          li Quality Assurance: Each bouquet is meticulously crafted by our skilled florists to ensure the highest quality.
          li Customer Satisfaction: We are committed to your satisfaction, ensuring every petal is perfect and every arrangement exceeds your expectations.
          li Timely Delivery: Enjoy peace of mind with our reliable and punctual delivery service, including same-day delivery for those last-minute surprises.
      div.trending
        h2 Order Your Flowers Today!
        p Ready to add a touch of floral elegance to your life?
        p Browse our collection of bouquets or contact us to create a custom arrangement just for you.
        a.button(href="/flowers") Shop Now
